<style>
    a:link,:visited,hover,:active{
       text-decoration: none ; 
       color:rgb(17, 8, 131);
    }
    .input-login
{
    border-radius: 10px;
}

    .div-login{
      border-radius: 10px;
      border: 2px solid darkcyan;
    }
    
    .login{
      font-size: 60px;
      font-family:"Times New Roman', Times, serif";
      color: black;
      
    }
</style>

<br>
<br>
<br>
<br>

<div class="col-sm-12 col-xs-12 col-md-12 div-login">

    <div class="offset-sm-4 offset-md-4 col-sm-3 col-md-3">
        <div class="row justify-content-md-center login">
            <img class="img"  src="/assets/LOGO_HORIZONTAL.png" width="100px">
        </div>
    </div>

    <br>

    <div class="offset-sm-4 offset-md-4 col-sm-3 col-md-3">
        <div class="row justify-content-md-center">
            <input class="input input-login" style="background-color: lightblue; color: black;"  placeholder="Usuário">
        </div>
    </div>

    <br>
    <br>

    <div class="offset-sm-4 offset-md-4 col-sm-3 col-md-3">
        <div class="row justify-content-md-center">
            <input class="input input-login" type="password" style="background-color: lightblue; color: black;" placeholder="Senha">
            <b><a class="link" href="#">Esqueci a minha senha.</a></b>
        </div>
    </div>
    <br>
    <br>
    <!--justify-content-md-center-->
    <div class="row">
        <div class="col-sm-12 col-md-12 offset-sm-4 offset-md-4">
            <button class="btn btn-primary">Acessar</button> 
            <button class="btn btn-danger" style="margin-left: 10px;">Registrar</button>
        </div>
    </div>
 
    <br>
    <br>
    
</div>


